<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
	<div>
		<a href="https://www.youtube.com/channel/UCtzuye6nV7mPz1bgSk79hXQ" class="footer footer-youtube"><i class="fa fa-youtube"/></a>
		<a href="https://www.reddit.com/user/MrHolshi" class="footer footer-reddit"><i class="fa fa-reddit"/></a>
		<a href="https://www.snapchat.com/add/mrholshi" class="footer footer-snapchat"><i class="fa fa-snapchat-ghost"/></a>
		<a href="https://www.instagram.com/mrholshi/" class="footer footer-instagram"><i class="fa fa-instagram"/></a>
		<a href="https://www.linkedin.com/in/grant-hoelscher-86273b91/" class="footer footer-linkedin"><i class="fa fa-linkedin"/></a>
		<a href="https://twitter.com/MrHolshi" class="footer footer-twitter"><i class="fa fa-twitter"/></a>
		<a href="https://www.footercebook.com/grant.hoelscher" class="footer footer-facebook"><i class="fa fa-facebook"/></a>
	</div>
	<br/>
    </section>
</section>
