<section id="footer" class="section bg-dark">
    <section class="container {{ grid_size }}">
	<div class="icon-bar">
		<a class="icon-youtube" href="https://www.youtube.com/channel/UCtzuye6nV7mPz1bgSk79hXQ"><i class="fa fa-youtube"></i></a>
		<a class="icon-reddit" href="https://www.reddit.com/user/MrHolshi"><i class="fa fa-reddit"></i></a>
		<a class="icon-snapchat" href="https://www.snapchat.com/add/mrholshi"><i class="fa fa-snapchat-ghost"></i></a>
		<a class="icon-instagram" href="https://www.instagram.com/mrholshi/"><i class="fa fa-instagram"></i></a>
		<a class="icon-linkedin" href="https://www.linkedin.com/in/grant-hoelscher-86273b91/"><i class="fa fa-linkedin"></i></a>
		<a class="icon-twitter" href="https://twitter.com/MrHolshi"><i class="fa fa-twitter"></i></a>
		<a class="icon-facebook" href="https://www.facebook.com/grant.hoelscher"><i class="fa fa-facebook"></i></a>
	</div>
        <div><span>Copyright © 2019 Grant Hoelscher. All Rights Reserved.</span></div>
	<br/>
    </section>
</section>
